{% extends "base.html" %}
{% block title %}
    Enter Your Email
{% endblock title %}
{% block content %}
    <h1 class="title">Enter Your Email</h1>
    <form method="post" class="box">
        {% csrf_token %}
        <div class="field">
            {{ form.email.label_tag }}
            <div class="control">{{ form.email }}</div>
            <p class="help is-danger">{{ form.email.errors }}</p>
        </div>
        <!-- Privacy notice -->
        <p class="help">We will send you an email with a link to verify your email address.</p>
        <p class="help">
            By clicking the button below, you agree that we store your email address and the IP address of the device you are using to send this request for processing your registration.
        </p>
        {% if legal_links %}
        <p class="help">
            You also confirm that you have read and agree to the following documents, which govern the use of our Matrix server:
            {% for link in legal_links %}
                <a href="{{ link.url }}">{{ link.title }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        {% endif %}
        <button type="submit" class="button is-link">Verify Email</button>
    </form>
{% endblock content %}
